In [1]:
import pandas as pd
import datetime as dt

In [2]:
# The path to our CSV file
file = "Resources/GlobalLandTemperaturesByCountry.csv"

# Read our global land and ocean temperature data into pandas
df = pd.read_csv(file)

df.head()

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland