In [1]:
# Module used to connect Python to MongoDB
import pymongo

In [2]:
# Dependencies -cont'd
import pandas as pd

In [3]:
# Read country info provided on https://countrycode.org/ and convert it to Pandas DataFrame
name_df = pd.read_csv('../data/cleandata/animal_names.csv', encoding='UTF-8')

# Preview "animal_df"
name_df.head()

            Common_Name Other_Name            Sci_Name
0      African Elephant        NaN  Loxodonta africana
1      African Wild Dog        NaN       Lycaon pictus
2         Albacore Tuna        NaN    Thunnus alalunga
3  Amazon River Dolphin        NaN    Inia geoffrensis
4          Amur Leopard        NaN     Panthera pardus

In [4]:
# Setup connection to MongoDB using default port 27017
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [5]:
# Establish "EndangeredAnimalDB" Database and "animal_facts" Collection
db = client.EndangeredAnimalDB
coll = db.animal_facts

In [6]:
# Loop through name list
for i in range(len(name_df)):

    # Update "animal_facts" Collection with "Other_Name" and "Sci_Name"
    coll.update_one(
        {'Common_Name': name_df["Common_Name"][i]},
        {
            '$set': {'Other_Name': name_df["Other_Name"][i],
                     'Sci_Name': name_df["Sci_Name"][i]
                    }                        
        }
    )