In [1]:
# Module used to connect Python to MongoDB
import pymongo

In [2]:
# Dependencies -cont'd
import pandas as pd

In [3]:
# Setup connection to MongoDB using default port 27017
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [4]:
# Establish "EndangeredAnimalDB" Database and "temp_by_cntry" Collection
db = client.EndangeredAnimalDB
coll = db.temp_by_cntry

In [5]:
# Read TempByCntry data retrieved from https://data.world/data-society/global-climate-change-data
temp_df = pd.read_csv('../data/rawdata/GlobalLandTemperaturesByCountry.csv', encoding='UTF-8')

# Preview "temp_df"
temp_df.head()

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland

In [6]:
# List to store unique cntry names in "temp_df"
uniq_cntry = []

# Append unique cntry name to "uniq_cntry"
[uniq_cntry.append(cntry) for cntry in temp_df.Country.unique()]

# Check the length of "uniq_cntry"
len(uniq_cntry)

243

In [7]:
# Read country info provided on https://countrycode.org/ and convert it to Pandas DataFrame
cntry_code_df = pd.read_csv('../data/rawdata/cntry_code.csv', encoding='UTF-8')

# Preview "animal_df"
cntry_code_df.head()

          COUNTRY COUNTRY CODE ISO CODES
0     Afghanistan           93  AF / AFG
1         Albania          355  AL / ALB
2         Algeria          213  DZ / DZA
3  American Samoa        1-684  AS / ASM
4         Andorra          376  AD / AND

In [8]:
# Checklist to store cntry names from "uniq_cntry" that are different as shown in 'cntry_code_df
cntry_chkl = []

# Search for inconsistent names in "uniq_cntry"
[cntry_chkl.append(cntry) for cntry in uniq_cntry if cntry not in list(cntry_code_df.COUNTRY)]

# Check the length of "cntry_chkl"
len(cntry_chkl)

44

In [9]:
# Dict to store inconsistency cntry names
cntry_change = {}

# Names from "cntry_chkl" will be set as 'key' with corresponding "cntry_code_df" ones as 'value'
cntry_change[cntry_chkl[0]] = 'Finland'
cntry_change[cntry_chkl[1]] = 'DELETE'
cntry_change[cntry_chkl[2]] = 'Antigua and Barbuda'
cntry_change[cntry_chkl[3]] = 'DELETE'
cntry_change[cntry_chkl[4]] = 'United States Minor Outlying Islands'
cntry_change[cntry_chkl[5]] = 'Netherlands Antilles'
cntry_change[cntry_chkl[6]] = 'Bosnia and Herzegovina'
cntry_change[cntry_chkl[7]] = 'Myanmar'
cntry_change[cntry_chkl[8]] = 'Ivory Coast'
cntry_change[cntry_chkl[9]] = 'Democratic Republic of the Congo'
cntry_change[cntry_chkl[10]] = 'Republic of the Congo'
cntry_change[cntry_chkl[11]] = 'Curacao'
cntry_change[cntry_chkl[12]] = 'Denmark'
cntry_change[cntry_chkl[13]] = 'DELETE'
cntry_change[cntry_chkl[14]] = 'Falkland Islands'
cntry_change[cntry_chkl[15]] = 'Micronesia'
cntry_change[cntry_chkl[16]] = 'France'
cntry_change[cntry_chkl[17]] = 'French Guiana'
cntry_change[cntry_chkl[18]] = 'French Southern Territories'
cntry_change[cntry_chkl[19]] = 'Palestine'
cntry_change[cntry_chkl[20]] = 'Saint Martin'
cntry_change[cntry_chkl[21]] = 'Guinea-Bissau'
cntry_change[cntry_chkl[22]] = 'Heard Island and McDonald Islands'
cntry_change[cntry_chkl[23]] = 'Isle of Man'
cntry_change[cntry_chkl[24]] = 'United States Minor Outlying Islands'
cntry_change[cntry_chkl[25]] = 'Martinique'
cntry_change[cntry_chkl[26]] = 'Netherlands'
cntry_change[cntry_chkl[27]] = 'DELETE'
cntry_change[cntry_chkl[28]] = 'DELETE'
cntry_change[cntry_chkl[29]] = 'Palestine'
cntry_change[cntry_chkl[30]] = 'United States Minor Outlying Islands'
cntry_change[cntry_chkl[31]] = 'Saint Barthelemy'
cntry_change[cntry_chkl[32]] = 'Saint Kitts and Nevis'
cntry_change[cntry_chkl[33]] = 'Saint Pierre and Miquelon'
cntry_change[cntry_chkl[34]] = 'Saint Vincent and the Grenadines'
cntry_change[cntry_chkl[35]] = 'Sao Tome and Principe'
cntry_change[cntry_chkl[36]] = 'DELETE'
cntry_change[cntry_chkl[37]] = 'Falkland Islands'
cntry_change[cntry_chkl[38]] = 'Svalbard and Jan Mayen'
cntry_change[cntry_chkl[39]] = 'East Timor'
cntry_change[cntry_chkl[40]] = 'Trinidad and Tobago'
cntry_change[cntry_chkl[41]] = 'Turks and Caicos Islands'
cntry_change[cntry_chkl[42]] = 'United Kingdom'
cntry_change[cntry_chkl[43]] = 'U.S. Virgin Islands'

In [10]:
# Change inconsistent cntry names in 'Country' column of "temp_df"
for cntry in cntry_chkl:
    if cntry in list(temp_df.Country):
        temp_df.loc[temp_df.Country == cntry, 'Country'] = cntry_change[cntry]

# Preview "temp_df" 
temp_df.head()

           dt  AverageTemperature  AverageTemperatureUncertainty  Country
0  1743-11-01               4.384                          2.294  Finland
1  1743-12-01                 NaN                            NaN  Finland
2  1744-01-01                 NaN                            NaN  Finland
3  1744-02-01                 NaN                            NaN  Finland
4  1744-03-01                 NaN                            NaN  Finland

In [11]:
# Check length of "temp_df" before deleting rows
print(f'There are {len(temp_df)} rows of data before rows with "DELETE" are removed')

# Delete temperature data with "Country" name as continent
temp_df = temp_df[~temp_df.Country.isin(['DELETE'])]

# Check length of "temp_df" after deleting rows
print(f'There are {len(temp_df)} rows of data after rows with "DELETE" have been removed')

There are 577462 rows of data before rows with "DELETE" are removed
There are 563059 rows of data after rows with "DELETE" have been removed

In [12]:
# Rename column names in "temp_df"
temp_df = temp_df.rename(
    columns={
        'Country': 'Cntry',
        'dt': 'Date',
        'AverageTemperature': 'Avg Temp',
        'AverageTemperatureUncertainty': 'Avg Temp Uncertainty'}
        )

# Preview "temp_df"
temp_df.head()

         Date  Avg Temp  Avg Temp Uncertainty    Cntry
0  1743-11-01     4.384                 2.294  Finland
1  1743-12-01       NaN                   NaN  Finland
2  1744-01-01       NaN                   NaN  Finland
3  1744-02-01       NaN                   NaN  Finland
4  1744-03-01       NaN                   NaN  Finland

In [13]:
# Wrap up "temp_df" for mongoDB
post = temp_df.to_dict(orient='records')

# Insert "temp_df" into mongoDB
coll.insert_many(post)