In [1]:
# Dependency
import pandas as pd

In [2]:
# Read animal species data
df = pd.read_csv("./data/rawdata/animal_species_list.csv", encoding="UTF-8")

# Preview "df"
df.head()

,Common_Name,Other_Name,other common name,url
0,African Elephant,NaN,NaN,https://www.iucnredlist.org/species/12392/3339343
1,African Wild Dog,NaN,NaN,https://www.iucnredlist.org/species/12436/1671...
2,Albacore Tuna,NaN,NaN,https://www.iucnredlist.org/species/21856/9325450
3,Amazon River Dolphin,NaN,"remove ""scientific name""",https://www.iucnredlist.org/species/10831/5035...
4,Amur Leopard,NaN,(sci name: remove orientalis),https://www.iucnredlist.org/species/15954/1024...

In [4]:
# Delete "other common name" column
del df['other common name']

# Preview "df"
df.head()

,Common_Name,Other_Name,url
0,African Elephant,NaN,https://www.iucnredlist.org/species/12392/3339343
1,African Wild Dog,NaN,https://www.iucnredlist.org/species/12436/1671...
2,Albacore Tuna,NaN,https://www.iucnredlist.org/species/21856/9325450
3,Amazon River Dolphin,NaN,https://www.iucnredlist.org/species/10831/5035...
4,Amur Leopard,NaN,https://www.iucnredlist.org/species/15954/1024...

In [5]:
# Check length of "df"
len(df)

69

In [6]:
# Retrieve animal web ID from the full url

# list to store animal web ID
url_ids = []

# Loop through all full length url for animals on www.iucnredlist.org
for i in range(len(df)):
    # Retrieve only animal web ID part of full length url and append it to "url_ids"
    url_id = str(df.url[i].split("/")[4]) + "/" + str(df.url[i].split("/")[5])
    url_ids.append(url_id)
    
# View "url_ids"
url_ids

['12392/3339343',
 '12436/16711116',
 '21856/9325450',
 '10831/50358152',
 '15954/102421779',
 '899/57549321',
 '3746/119623865',
 '7140/12828813',
 '6335/50352346',
 '21859/9329255',
 '6557/16980917',
 '2283/9392691',
 '14020/45200314',
 '2477/50226195',
 '21860/9331546',
 '15932/102331567',
 '17975/123809220',
 '2467/50347659',
 '41688/121229971',
 '15933/129038584',
 '22563/50377908',
 '6909/43792211',
 '39994/115576640',
 '2478/50349982',
 '22697825/132606008',
 '41758/50383612',
 '712/121745669',
 '8097/50353881',
 '3855/10133872',
 '19496/8928657',
 '22679503/92816586',
 '4615/11037468',
 '8005/12881238',
 '4162/44199757',
 '10103/18567364',
 '4592/11023949',
 '15419/123790805',
 '15953/123791436',
 '19495/8925965',
 '6494/43526147',
 '3897/119333622',
 '22685539/131917270',
 '1086/3222951',
 '22693876/131931306',
 '13704/50367651',
 '41712/50380891',
 '11534/3292503',
 '2815/123789863',
 '55191/11255828',
 '22823/14871490',
 '1677/115056938',
 '714/110023718',
 '18597/46364962',
 '41668/45230540',
 '2475/130482064',
 '170310/6739812',
 '22732/50664030',
 '22735250/132664584',
 '121097935/123797627',
 '6553/12787457',
 '23059/57629306',
 '15955/50659951',
 '6436/21956250',
 '17028/50370296',
 '9404/136250858',
 '19488/2365291',
 '4185/16980466',
 '41754/50381766',
 '21857/9327139']

In [7]:
# Add "IUCN_WebID" column in df and save url_ids data
df["IUCN_WebID"] = url_ids

# View "df"
df

,Common_Name,Other_Name,url,IUCN_WebID
0,African Elephant,NaN,https://www.iucnredlist.org/species/12392/3339343,12392/3339343
1,African Wild Dog,NaN,https://www.iucnredlist.org/species/12436/1671...,12436/16711116
2,Albacore Tuna,NaN,https://www.iucnredlist.org/species/21856/9325450,21856/9325450
3,Amazon River Dolphin,NaN,https://www.iucnredlist.org/species/10831/5035...,10831/50358152
4,Amur Leopard,NaN,https://www.iucnredlist.org/species/15954/1024...,15954/102421779
5,Arctic Fox,NaN,https://www.iucnredlist.org/species/899/57549321,899/57549321
6,Arctic Wolf,Grey Wolf,https://www.iucnredlist.org/species/3746/11962...,3746/119623865
7,Asian Elephant,NaN,https://www.iucnredlist.org/species/7140/12828813,7140/12828813
8,Beluga,Beluga Whale,https://www.iucnredlist.org/species/6335/50352346,6335/50352346
9,Bigeye Tuna,NaN,https://www.iucnredlist.org/species/21859/9329255,21859/9329255
10,Black Rhino,NaN,https://www.iucnredlist.org/species/6557/16980917,6557/16980917
11,Black Spider Monkey,Guiana Spider Monkey,https://www.iucnredlist.org/species/2283/9392691,2283/9392691
12,Black-footed Ferret,NaN,https://www.iucnredlist.org/species/14020/4520...,14020/45200314
13,Blue Whale,NaN,https://www.iucnredlist.org/species/2477/50226195,2477/50226195
14,Bluefin Tuna,NaN,https://www.iucnredlist.org/species/21860/9331546,21860/9331546
15,Bonobo,NaN,https://www.iucnredlist.org/species/15932/1023...,15932/102331567
16,Bornean Orangutan,NaN,https://www.iucnredlist.org/species/17975/1238...,17975/123809220
17,Bowhead Whale,NaN,https://www.iucnredlist.org/species/2467/50347659,2467/50347659
18,Brown Bear,NaN,https://www.iucnredlist.org/species/41688/1212...,41688/121229971
19,Chimpanzee,NaN,https://www.iucnredlist.org/species/15933/1290...,15933/129038584
20,Common Bottlenose Dolphin,NaN,https://www.iucnredlist.org/species/22563/5037...,22563/50377908
21,Dugong,NaN,https://www.iucnredlist.org/species/6909/43792211,6909/43792211
22,Eastern Lowland Gorilla,Eastern Gorilla,https://www.iucnredlist.org/species/39994/1155...,39994/115576640
23,Fin Whale,NaN,https://www.iucnredlist.org/species/2478/50349982,2478/50349982
24,Galapagos Penguin,NaN,https://www.iucnredlist.org/species/22697825/1...,22697825/132606008
25,Ganges River Dolphin,South Asian River Dolphin,https://www.iucnredlist.org/species/41758/5038...,41758/50383612
26,Giant Panda,NaN,https://www.iucnredlist.org/species/712/121745669,712/121745669
27,Gray Whale,NaN,https://www.iucnredlist.org/species/8097/50353881,8097/50353881
28,Great White Shark,NaN,https://www.iucnredlist.org/species/3855/10133872,3855/10133872
29,Greater One-Horned Rhino,Indian Rhinoceros,https://www.iucnredlist.org/species/19496/8928657,19496/8928657
...,...,...,...,...
39,Leatherback Turtle,NaN,https://www.iucnredlist.org/species/6494/43526147,6494/43526147
40,Loggerhead Turtle,NaN,https://www.iucnredlist.org/species/3897/11933...,3897/119333622
41,Macaw,NaN,https://www.iucnredlist.org/species/22685539/1...,22685539/131917270
42,Marine Iguana,Fernandina Marine Iguana,https://www.iucnredlist.org/species/1086/3222951,1086/3222951
43,Mountain Plover,NaN,https://www.iucnredlist.org/species/22693876/1...,22693876/131931306
44,Narwhal,NaN,https://www.iucnredlist.org/species/13704/5036...,13704/50367651
45,North Atlantic Right Whale,NaN,https://www.iucnredlist.org/species/41712/5038...,41712/50380891
46,Olive Ridley Turtle,NaN,https://www.iucnredlist.org/species/11534/3292503,11534/3292503
47,Plains Bison,American Bison,https://www.iucnredlist.org/species/2815/12378...,2815/123789863
48,Poison Dart Frog,NaN,https://www.iucnredlist.org/species/55191/1125...,55191/11255828
49,Polar Bear,NaN,https://www.iucnredlist.org/species/22823/1487...,22823/14871490
50,Pronghorn,NaN,https://www.iucnredlist.org/species/1677/11505...,1677/115056938
51,Red Panda,NaN,https://www.iucnredlist.org/species/714/110023718,714/110023718
52,Saola,NaN,https://www.iucnredlist.org/species/18597/4636...,18597/46364962
53,Sea Lion,NaN,https://www.iucnredlist.org/species/41668/4523...,41668/45230540
54,Sei Whale,NaN,https://www.iucnredlist.org/species/2475/13048...,2475/130482064
55,Skipjack Tuna,NaN,https://www.iucnredlist.org/species/170310/673...,170310/6739812
56,Snow Leopard,NaN,https://www.iucnredlist.org/species/22732/5066...,22732/50664030
57,Southern rockhopper penguin,NaN,https://www.iucnredlist.org/species/22735250/1...,22735250/132664584
58,Sumatran Orangutan,NaN,https://www.iucnredlist.org/species/121097935/...,121097935/123797627
59,Sumatran Rhino,NaN,https://www.iucnredlist.org/species/6553/12787457,6553/12787457
60,Swift Fox,NaN,https://www.iucnredlist.org/species/23059/5762...,23059/57629306
61,Tiger,NaN,https://www.iucnredlist.org/species/15955/5065...,15955/50659951
62,Tree Kangaroo,NaN,https://www.iucnredlist.org/species/6436/21956250,6436/21956250
63,Vaquita,NaN,https://www.iucnredlist.org/species/17028/5037...,17028/50370296
64,Western Lowland Gorilla,Western Gorilla,https://www.iucnredlist.org/species/9404/13625...,9404/136250858
65,Whale Shark,NaN,https://www.iucnredlist.org/species/19488/2365291,19488/2365291
66,White Rhino,NaN,https://www.iucnredlist.org/species/4185/16980466,4185/16980466
67,Yangtze Finless Porpoise,Narrow-ridged Finless Porpoise,https://www.iucnredlist.org/species/41754/5038...,41754/50381766
68,Yellowfin Tuna,NaN,https://www.iucnredlist.org/species/21857/9327139,21857/9327139

In [8]:
# Delete "url" column from "df"
del df['url']

# Preview "df"
df.head()

In [10]:
# Save df as csv file
df.to_csv("./data/rawdata/animal_species_for_scraping.csv", index=False, header=True)