In [1]:
import pymongo

In [2]:
import pandas as pd

In [3]:
# Setup connection to MongoDB using default port 27017
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [5]:
# Establish "EndangeredAnimalDB" Database and "animal_facts" Collection
db = client.EndangeredAnimalDB
col = db.animal_facts

In [11]:
# Check statistics of "EndangeredAnimalDB"
db.command("dbstats")

{'db': 'EndangeredAnimalDB',
 'collections': 1,
 'views': 0,
 'objects': 69,
 'avgObjSize': 737.6086956521739,
 'dataSize': 50895.0,
 'storageSize': 77824.0,
 'numExtents': 0,
 'indexes': 1,
 'indexSize': 36864.0,
 'fsUsedSize': 72312352768.0,
 'fsTotalSize': 254622560256.0,
 'ok': 1.0}

In [28]:
# Read country code for urls on www.iucnredlist.org and convert it to Pandas DataFrame
cntry_code_df = pd.read_csv('../data/rawdata/cntry_code.csv', encoding='UTF-8')

# Preview "animal_df"
cntry_code_df.head()

          COUNTRY COUNTRY CODE ISO CODES
0     Afghanistan           93  AF / AFG
1         Albania          355  AL / ALB
2         Algeria          213  DZ / DZA
3  American Samoa        1-684  AS / ASM
4         Andorra          376  AD / AND

In [24]:
# Read animal web ID for urls on www.iucnredlist.org and convert it to Pandas DataFrame
animal_df = pd.read_csv('../data/rawdata/animal_iucn_webid.csv', encoding='UTF-8')

# Preview "animal_df"
animal_df.head()

            Common_Name       IUCN_WebID
0      African Elephant    12392/3339343
1      African Wild Dog   12436/16711116
2         Albacore Tuna    21856/9325450
3  Amazon River Dolphin   10831/50358152
4          Amur Leopard  15954/102421779

In [29]:
temp = col.find_one({'Common_Name': animal_df['Common_Name'][0]})
mylist = temp['Native_Extant_Resident_Cntry']

In [35]:
code_list = []
for i in range(len(mylist)):
    if mylist[i] in list(cntry_code_df.COUNTRY):
        code_list.append(int(cntry_code_df.loc[cntry_code_df.COUNTRY == mylist[i], 'COUNTRY CODE']))
    else:
        code_list.append("TBD")
code_list

[244,
 229,
 267,
 226,
 237,
 236,
 235,
 'TBD',
 'TBD',
 'TBD',
 240,
 291,
 251,
 233,
 224,
 245,
 254,
 231,
 265,
 223,
 258,
 264,
 227,
 234,
 250,
 221,
 232,
 252,
 27,
 211,
 'TBD',
 228,
 256,
 260,
 263]

list